*.iml
.gradle
/local.properties
/.idea
.DS_Store
/captures
.externalNativeBuild
**/build
**/dist
**/node_modules
# Project exclude paths
/.github/
/app-sample/
/art/
/docs/
/gradle/
/markwon-core/
/markwon-editor/
/markwon-ext-latex/
/markwon-ext-strikethrough/
/markwon-ext-tables/
/markwon-ext-tasklist/
/markwon-html/
/markwon-image/
/markwon-image-coil/
/markwon-image-glide/
/markwon-image-picasso/
/markwon-inline-parser/
/markwon-linkify/
/markwon-recycler/
/markwon-recycler-table/
/markwon-simple-ext/
/markwon-syntax-highlight/
/markwon-test-span/
/sample-utils/